{% extends 'base.html.twig' %}

{% block title %}Choose a Specialty{% endblock %}

{% block body %}
    <h1>Choose a Specialty</h1>

    {{ form_start(form) }}
        {{ form_row(form.specialite) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}