{% extends 'base.html.twig' %}

{% block title %}Edit Availability{% endblock %}

{% block body %}
<h1>Edit Availability</h1>

{{ include('disponibilite/_form.html.twig', {'form': form, 'button_label': 'Update'}) }}

<a href="{{ path('app_disponibilite_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
